html{
  padding: 0;
  margin: 0;
}

body{
  background: url(https://mmorpg-area.com/uploads/2017/12/rf_online_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.row{
  margin: 0 !important;
}

/* Авторизация и регистрация */

.card {
  margin-top: 40% !important;
  opacity: 93%;
  border: solid black 1px;
}
.card input {
  margin: 5px;
}

/* side bar */

.col-md{
  margin: 0 !important;
  padding: 0 !important;
  max-width: 500px !important;
}

.side_bar_fon{
  background-color: rgba(147, 141, 150, 0.719);
  border: solid black 0.3px;
}

.menu_btn {
  height: 90px;
  /* border: dashed black 0.3px; */
  margin-right: 5px;
}

.btn_title {
  font-weight: bold;
}

.menu{
  margin: 0px;
  padding: 0px;
  width: 1000px;
  height: 100px;
  border: solid black 0.3px; 
}


.link_menu{
  text-decoration: none !important;
  cursor: pointer;
  color: #000;
}

.left_nav_menu_link a {
  text-decoration: none !important;
  cursor: pointer;
  color: grey;
  margin-bottom: 10px;
}

.left_nav_menu_link a:hover {
  color: red;
}




.icon_1 {
  background-image: url(/img/account.png);
  height: 60px;
  width: 60px;
  transition: all 1s ease-out;
}
.icon_2 {
  background-image: url(/img/shop.png);
  height: 60px;
  width: 60px;
  transition: all 1s ease-out;
}
.icon_3 {
  background-image: url(/img/online.png);
  height: 60px;
  width: 60px;
  transition: all 1s ease-out;
}
.icon_4 {
  background-image: url(/img/raiting.png);
  height: 60px;
  width: 60px;
  transition: all 1s ease-out;
}
.icon_exit {
  background-image: url(/img/door.png);
  height: 60px;
  width: 60px;
  transition: all 1s ease-out;
  margin-left: 50px;
}

.icon_exit:hover{
  background: url(/img/door.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 1s ease-out;
} 
  
.icon_1:hover{
  background: url(/img/account_cl.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 1s ease-out;
} 
.icon_2:hover{
  background: url(/img/shop_cl.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 1s ease-out;
} 
.icon_3:hover{
  background: url(/img/online_cl.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 1s ease-out;
} 
.icon_4:hover{
  background: url(/img/raiting_cl.png);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 1s ease-out;
} 



.side_bar {
  /* border: solid black 0.3px; */
  height: 100px;
  padding: 0 !important;
  overflow: hidden;
  margin-right: 50px;
  margin-top: 10px;
}

.balance {
  /* border: solid black 0.3px; */
  height: 100px;
  width: 500px !important;
  
}





/* main menu */

.main{
  margin-top: 100px;
  width: 1000px;
  height: 770px;
  border: solid black 0.3px;
  background-color: rgba(225, 218, 228, 0.699);
}

.left_menu {
  margin-left: 15px;
  margin:10px;
  margin-top: 30px;
  margin-right: 40px;
  height: 600px;
  /* border: solid black 0.3px; */
  background-color: rgba(255, 255, 255, 0.733);
  padding: 0 !important;
}

.left_menu_bar {
  font-weight: bold;
  margin: 0px !important;
  padding: 0px !important;
  border: solid black 0.3px; 
  width: 249px !important;
  height: 25px;
  background-color: rgba(147, 141, 150, 0.74);
}





.main_window {
  margin-top: 30px !important;
  margin: 5px;
  height: 600px;
  /* border: solid black 0.3px; */
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.733);
}


.img_icon{
  height: 60px;
  width: 60px;
}


.img_icon_logo{
  height: 110px;
  width: 167px;
  margin-top: -6px;
  margin-left:-40px;
}

.status_bar {
  margin-top: 12px;    
}

.font_status {
  font-weight: bold !important;
  margin-left: 50px;
}

.money{
  margin-left: 4px;
  font-weight:bold;
  font-size: 20px;
  border: solid darkcyan 1px;
  width: 50px;
  height: 30px;

}

.img_icon_money {
  margin-left: -3px !important;
}

.font_status{
  font-weight: 480;
}

td {
  font-weight: bold;
}

/* Donate */

.content_donate {
  margin-top: -15px;
  width: 385px !important;
  height: 425px!important;
}

.bonus{
  margin-left: 20px;
}
.input_plat{
  margin-top: 20px;
  margin-bottom: 20px;
}

.visa{
  height: 140px;
  width:140px;
}

/* Statistic */

#chartdiv {
  margin-top: 45px;
  margin-left: 130px;
  width: 700px;
  height: 500px !important;
}

rect {
  width: 850px;
}


/* rating_users */

.rating_users tr {
  font-size: 13px;
}


/* mmotop vote message */
.warning {
  font-size: 16px;
  font-weight: bold;
}


/* menu */

/* paginate */

.pagination {
  margin-left: 35%;
  bottom: 0;
}



/* admin */

.right_blok input {
  width: 150px;
  margin: 10px;
}

.bottom_block input{
  width: 150px;
  margin: 10px;
}

.bottom_block {
margin-left: -30px;
}
.right_blok{
margin-left: 50px;
}

.icon_race{
  margin-left: 90px;
  margin-top: 50px;
  background-image: url(/img/accretia.png);
  height: 130px;
  width: 150px;
  transition: all 1s ease-out;
}

td input {
  font-size: 10px;
}

.checked_type{
  color: rgb(214, 39, 39) !important;
  font-style: italic !important;
}